img {
    width: 500px;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

body{
    background-color:#b9def5;
    font-family:'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    font-size: 50px;
    color:rgb(115, 67, 9);
    border: 5px solid rgb(164, 209, 80);
    background-color: white;
}

.recipe{
    list-style-type: square;
    text-align:center;
    list-style-position:inside;
    color:rgb(115, 67, 9);
    border: 5px solid rgb(164, 209, 80);
    background-color: white;
    height: 50px;
    width:500px;
    font-size: 35px;
    margin: 20px auto; 
}

ul,
ol {
    font-size: 20px;
}

.Description{
    font-size: 20px;
}

.titles,
h2{
    font-family:"Brush Script MT", "Courier New", sans-serif;
}

h2{
    font-size: 30px;
}

.quantity{
    background-color: yellow;
}

li {
    margin-bottom: 10px;
}